name: CI
on:
  push:
    branches:
    - main
    - renovate/*
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch: {}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
      with:
        dotnet-version: '10.0.x'
    
    - name: Set variables
      id: variables
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        echo VERSION=$VERSION >> $GITHUB_OUTPUT
        
    - name: Test project
      run: |
        dotnet test ./TeslaMateAgile.Tests/TeslaMateAgile.Tests.csproj
        
    - name: Build project
      run: |
        dotnet publish ./TeslaMateAgile/TeslaMateAgile.csproj --self-contained true --runtime linux-x64 --output ./output/TeslaMateAgile-linux-x64
        dotnet publish ./TeslaMateAgile/TeslaMateAgile.csproj --self-contained true --runtime linux-arm64 --output ./output/TeslaMateAgile-linux-arm64
        dotnet publish ./TeslaMateAgile/TeslaMateAgile.csproj --self-contained true --runtime linux-arm --output ./output/TeslaMateAgile-linux-arm
        dotnet publish ./TeslaMateAgile/TeslaMateAgile.csproj --self-contained true --runtime win-x64 --output ./output/TeslaMateAgile-win-x64
        
    - name: Build Docker images
      run: |
        arches=(amd64 arm32v7 arm64v8)
        for appname in TeslaMateAgile; do
          app=`echo $appname | tr '[:upper:]' '[:lower:]'`
          for arch in "${arches[@]}"; do
            buildArg="noble-$arch"
            echo "Building $appname image for $arch"
            docker build -t $app:$arch -f "$appname/Dockerfile" . --build-arg arch=$buildArg
            echo "Building $appname image for $arch with legacy image warning"
            docker build -t $app:legacy-$arch -f "$appname/Dockerfile" . --build-arg arch=$buildArg --build-arg legacy_image_warning=true
          done
        done
      
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: TeslaMateAgile-linux-x64
        path: ./output/TeslaMateAgile-linux-x64
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: TeslaMateAgile-linux-arm64
        path: ./output/TeslaMateAgile-linux-arm64
        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: TeslaMateAgile-linux-arm
        path: ./output/TeslaMateAgile-linux-arm
        
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: TeslaMateAgile-win-x64
        path: ./output/TeslaMateAgile-win-x64
        
    - name: Push Docker images (Deprecated - Docker Hub)
      run: |
        echo $DOCKER_PASSWORD | docker login --username $DOCKER_USERNAME --password-stdin
        for appname in TeslaMateAgile; do
          app=`echo $appname | tr '[:upper:]' '[:lower:]'`
          echo "Deploying $appname"
          versions=()
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            for arch in amd64 arm32v7 arm64v8; do
              docker tag $app:legacy-$arch $DOCKER_USERNAME/$app:latest-$arch
              docker tag $app:legacy-$arch $DOCKER_USERNAME/$app:$VERSION-$arch
            done
            versions=($VERSION)
            if [[ $VERSION =~ "-" ]]; then
              echo "Pre-release version detected, not setting latest tag"
            else
              versions+=("latest")
              echo "Adding latest tag"
            fi
          elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
            for arch in amd64 arm32v7 arm64v8; do
              docker tag $app:legacy-$arch $DOCKER_USERNAME/$app:edge-$arch
            done
            versions=("edge")
            echo "Main branch detected, tagging as edge"
          fi
          for ver in "${versions[@]}"; do
            echo "Deploying version $ver"
            for arch in amd64 arm32v7 arm64v8; do
              echo "Pushing docker tag $ver-arch"
              docker push $DOCKER_USERNAME/$app:$ver-$arch
            done
            docker manifest create $DOCKER_USERNAME/$app:$ver $DOCKER_USERNAME/$app:$ver-amd64 $DOCKER_USERNAME/$app:$ver-arm32v7 $DOCKER_USERNAME/$app:$ver-arm64v8
            docker manifest annotate $DOCKER_USERNAME/$app:$ver $DOCKER_USERNAME/$app:$ver-amd64 --os linux --arch amd64
            docker manifest annotate $DOCKER_USERNAME/$app:$ver $DOCKER_USERNAME/$app:$ver-arm32v7 --os linux --arch arm
            docker manifest annotate $DOCKER_USERNAME/$app:$ver $DOCKER_USERNAME/$app:$ver-arm64v8 --os linux --arch arm64
            docker manifest push $DOCKER_USERNAME/$app:$ver
          done
        done
      env:
        DOCKER_USERNAME: ${{ vars.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_CLI_EXPERIMENTAL: enabled
        VERSION: ${{ steps.variables.outputs.VERSION }}
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main'

    - name: Push Docker images (GitHub Container Registry)
      run: |
        echo $GITHUB_TOKEN | docker login ghcr.io --username amyjeanes --password-stdin
        for appname in TeslaMateAgile; do
          app=`echo $appname | tr '[:upper:]' '[:lower:]'`
          echo "Deploying $appname"
          versions=()
          if [[ "$GITHUB_REF" == refs/tags/* ]]; then
            for arch in amd64 arm32v7 arm64v8; do
              docker tag $app:$arch ghcr.io/amyjeanes/$app:latest-$arch
              docker tag $app:$arch ghcr.io/amyjeanes/$app:$VERSION-$arch
            done
            versions=($VERSION)
            if [[ $VERSION =~ "-" ]]; then
              echo "Pre-release version detected, not setting latest tag"
            else
              versions+=("latest")
              echo "Adding latest tag"
            fi
          elif [[ "$GITHUB_REF" == "refs/heads/main" ]]; then
            for arch in amd64 arm32v7 arm64v8; do
              docker tag $app:$arch ghcr.io/amyjeanes/$app:edge-$arch
            done
            versions=("edge")
            echo "Main branch detected, tagging as edge"
          fi
          for ver in "${versions[@]}"; do
            echo "Deploying version $ver"
            for arch in amd64 arm32v7 arm64v8; do
              echo "Pushing docker tag $ver-arch"
              docker push ghcr.io/amyjeanes/$app:$ver-$arch
            done
            docker manifest create ghcr.io/amyjeanes/$app:$ver ghcr.io/amyjeanes/$app:$ver-amd64 ghcr.io/amyjeanes/$app:$ver-arm32v7 ghcr.io/amyjeanes/$app:$ver-arm64v8
            docker manifest annotate ghcr.io/amyjeanes/$app:$ver ghcr.io/amyjeanes/$app:$ver-amd64 --os linux --arch amd64
            docker manifest annotate ghcr.io/amyjeanes/$app:$ver ghcr.io/amyjeanes/$app:$ver-arm32v7 --os linux --arch arm
            docker manifest annotate ghcr.io/amyjeanes/$app:$ver ghcr.io/amyjeanes/$app:$ver-arm64v8 --os linux --arch arm64
            docker manifest push ghcr.io/amyjeanes/$app:$ver
          done
        done
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DOCKER_CLI_EXPERIMENTAL: enabled
        VERSION: ${{ steps.variables.outputs.VERSION }}
      if: startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main'
        
    - name: Zip project
      run: |
        cd ./output/TeslaMateAgile-linux-x64
        zip -r ../TeslaMateAgile-linux-x64.zip .
        cd ../TeslaMateAgile-linux-arm64
        zip -r ../TeslaMateAgile-linux-arm64.zip .
        cd ../TeslaMateAgile-linux-arm
        zip -r ../TeslaMateAgile-linux-arm.zip .
        cd ../TeslaMateAgile-win-x64
        zip -r ../TeslaMateAgile-win-x64.zip .
        cd ../../
      if: startsWith(github.ref, 'refs/tags/')
      
    - name: Create Release
      uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2
      with:
        name: Release ${{ github.ref_name }}
        draft: true
        prerelease: false
        files: output/*.zip
      if: startsWith(github.ref, 'refs/tags/')
      
  deploy:
    if: github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
    name: Deploy
    runs-on: ubuntu-latest
    needs: [build]
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    
    - name: Connect to Kubernetes
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/connect-k8s@main
      with:
        kubeconfig: "${{ secrets.KUBECONFIG }}"
        hostname: "${{ vars.KUBERNETES_API_HOSTNAME }}"
        serviceTokenId: ${{ vars.CLOUDFLARE_TUNNEL_SERVICE_TOKEN_ID }}
        serviceTokenSecret: ${{ secrets.CLOUDFLARE_TUNNEL_SERVICE_TOKEN_SECRET }}

    - run: echo "${{ secrets.ABYSS_VALUES_FILE }}" | base64 --decode > abyss.values.yaml
        
    - name: Install TeslaMateAgile
      run: |
        helm upgrade --install --wait --atomic \
          teslamateagile ./charts/teslamateagile \
          --namespace default \
          --values abyss.values.yaml

    - name: Disconnect from Kubernetes
      if: always()
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/disconnect-k8s@main
