name: Deploy
on:
  workflow_dispatch: {}
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    
    - name: Connect to Kubernetes
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/connect-k8s@main
      with:
        kubeconfig: "${{ secrets.KUBECONFIG }}"
        hostname: "${{ vars.KUBERNETES_API_HOSTNAME }}"
        serviceTokenId: ${{ vars.CLOUDFLARE_TUNNEL_SERVICE_TOKEN_ID }}
        serviceTokenSecret: ${{ secrets.CLOUDFLARE_TUNNEL_SERVICE_TOKEN_SECRET }}

    - run: echo "${{ secrets.ABYSS_VALUES_FILE }}" | base64 --decode > abyss.values.yaml
        
    - name: Install TeslaMateAgile
      run: |
        helm upgrade --install --wait --atomic \
          teslamateagile ./charts/teslamateagile \
          --namespace default \
          --values abyss.values.yaml \
          --set image.tag=edge \
          --set image.pullPolicy=Always

    - name: Disconnect from Kubernetes
      if: always()
      uses: AmyJeanes/Abyss-Infrastructure/.github/actions/disconnect-k8s@main